### Each directory and file, which starts with dot
.*
### But not Git ignore and Travis file
!.gitignore
!.travis.yml
!.vscode/
!.vscode/mcp.json

### IntelliJ Idea
#.idea/
*.iml
*.ipr
*.iws

### Eclipse
.settings/
.classpath
.project

### Maven
target/
